
<link rel="stylesheet" href="/css/update_profile.css">

<div class="wrapper">
    <div class="form-header">Edit Profile<i class="fa fa-times close"></i></div>
    <form action="/users/update-profile/<%=user._id%>" method="post">
    <div class="form-grp">
      <label>Full name</label>
      <input value="<%=user.name%>" type="text" name="name"/>
    </div>
    <div class="form-grp">
      <label>Email</label>
      <input type="text" value="<%=user.email%>" name="email"/>
    </div>
    <div class="form-grp">
      <input type="submit" value="Update profile"/>
    </div>
    </form>
  </div>
  